.DS_Store
.bundle/
coverage/
Gemfile.lock
*.gem
vendor/

.asset-cache/
.jekyll-cache/
.jekyll-metadata
_site/
node_modules/
npm-error.log
__pycache__/
*.pyc
site/
script/
test/
tmp/
yarn.lock

/.git
/.github
/.idea
